.row {
    width: 100%;
    color: $white;
    overflow: hidden;
    padding-top: 15px;
    padding-left: 10px;
    transition: color 0.5s ease-in;

    #{&}_posters {
        display: flex;
        width: 100%;
        overflow: hidden;
        padding: 22px 16px;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        & {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
    #{&}_image {
        object-fit: contain;
        cursor: pointer;
        max-height: 100px;
        margin-right: 10px;
        transition: transform 0.45s;
        &:hover {
            transform: scale(1.08);
        }
    }

    #{&}_imageLarge {
        max-height: 250px;
        &:hover {
            transform: scale(1.09);
        }
    }
}
.row-light {
    color: red;
}
