@import "config";
@import "row";
@import "banner";
@import "nav";

* {
    margin: 0;
    box-sizing: border-box;
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
}
body {
    overflow-x: hidden;
}
.app {
    background-color: $darkMode-bg;
    transition: 0.5s ease-in;
    position: relative;
    z-index: 2;
    overflow: hidden;

    //
    // pointer-events: none;
}

.underlay {
    position: fixed;
    z-index: -5;
    transition: all 0.6s ease-in;
    background-color: $white;
    top: 0;
    height: 100%;
    width: 100%;
    clip-path: circle(20px at 90% -20%);
    pointer-events: none;
}
.underlay-white {
    clip-path: circle(2000px at 90% -20%);
    pointer-events: all;
}
